

/* .popup_is-opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}  */

.popup__container {
  /* position: relative;
  display: flex;
  flex-direction: column;
  width: 430px; */
  /* background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 0 10px; */
}

/* @media screen and (min-width: 768px) {
  .popup__container {
    padding: 20px 20px;
  }
} */

/* .popup__image {
  background-color: antiquewhite;
  max-height: 75vh;
  max-width: 75vw;
  cursor: pointer;
} */


/* .popup__buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background: #ffffff;
  padding-bottom: 15px;
  padding-top: 15px;
} */

@media screen and (min-width: 1280px) {
  .popup__buttonsContainer {
    justify-content: right;
    gap: 0.7rem;
  }
}

/* .popup__button {
  width: 100px;
  height: 34px;
  border: none;
  cursor: pointer;
  padding: 5px 5px 0 5px;
  margin: 0;
  font-size: 24px;
  border-radius: 5px;
  color: white;
  background-color: #FF6838;
} */

.popup__button:hover {
  transition: 0.25s ease-in-out;
  background-color: #4A4A4A;
  color: white;
}

.popup__closeButton {
  background: url("/public/images/x-button.svg");
  width: 34px;
  height: 34px;
  border: none;
  cursor: pointer;
}

.popup__addButton:hover {
  opacity: 70%;
  transition: opacity 0.3s ease-out;
}

.popup__closeButton:hover {
  opacity: 70%;
  transition: opacity 0.3s ease-out;
}
